<!-- index.hbs -->
<h1>The Server is Running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


{{!-- Create a table --}}
<table id="users-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, name, monthly budget in order --}}
        {{#each data}}
        <tr>
            <td>{{this.userID}}</td>
            <td>{{this.userName}}</td>
            <td>{{this.monthlyBudget}}</td>
            <td><button onclick="deleteUser({{this.userID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_user.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>To add a new user, please enter their information below and click 'Submit'!</p>
<form id="add-user-form-ajax">
    <label for="input-userName">User Name: </label>
    <input type="text" name="input-userName" id="input-userName">
    
    <label for="input-monthlyBudget">Monthly Budget: </label>
    <input type="text" name="input-monthlyBudget" id="input-monthlyBudget">

    <input type="submit">
</form>

<h2>Search Using an HTML Form</h2>
<p>Search by user name using the field below. Partial user names are OK too!</p>
<form id="search-user-html" method='GET' action='/'>
    <label for="input-userName">Search by User Name: </label>
    <input type="text" name="userName" id="input-userName-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_user.js"></script>