{{!-- Citation for the following file as well as all handlebars and JS files used in the Node JS guide
Date: 11/21/2024
Adapted from the guide code, plugged in project specifics and will eventually keep expanding to make it look better
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%200%20-%20Setting%20Up%20Node.js --}}

<div class="page-container">
    <h1 class="page-title">User Transactions</h1>

    <section class="form-section">
        <h2 class="section-title">User Transactions Table</h2>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        {{!-- Create a table --}}
        <table id="user-transactions-table" class="data-table">
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>{{@key}}</th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.userTransactionID}}</td>
                    <td>{{this.userID}}</td>
                    <td>{{this.transactionID}}</td>
                    <td>{{this.percentageShare}}</td>
                    <td><button class="delete-button" onclick="deleteUserTransaction({{this.userTransactionID}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <script src="./js/delete_user_transaction.js"></script>
    </section>

    <section class="form-section">
        <h2 class="section-title">Add New User Transaction</h2>
        <p>To add a new user transaction, please enter the information below and click 'Submit'!</p>
        <form id="add-user-transaction-form-ajax" class="data-form">
            <label for="input-userID">User ID: </label>
            <select name="input-userID" id="input-userID" class="form-select">
                <option value="">Select a User</option>
                {{#each users}}
                    <option value="{{this.userID}}">{{this.userName}}</option>
                {{/each}}
            </select>

            <label for="input-transactionID">Transaction ID: </label>
            <select name="input-transactionID" id="input-transactionID" class="form-select">
                <option value="">Select a Transaction</option>
                {{#each transactions}}
                    <option value="{{this.transactionID}}">{{this.transactionID}}</option>
                {{/each}}
            </select>

            <label for="input-percentageShare">Percentage Share: </label>
            <input type="text" name="input-percentageShare" id="input-percentageShare" class="form-input">
            <input type="submit" value="Submit" class="submit-button">
        </form>
    </section>

    <section class="form-section">
        <h2 class="section-title">Search For a User Transaction</h2>
        <p>Search by user transaction ID using the field below.</p>
        <form id="search-user-transaction-html" method="GET" action="/user_transactions" class="data-form">
            <label for="input-userTransactionID">Search by User Transaction ID: </label>
            <input type="text" name="userTransactionID" id="input-userTransactionID-html-search" class="form-input">
            <input type="submit" value="Search" class="submit-button">
            <a href='/user_transactions'><button class="reset-button" type="button">Reset</button></a>
        </form>
        <script src="./js/add_user_transaction.js"></script>
    </section>

    <section class="form-section">
        <h2 class="section-title">Update a User's Transaction</h2>
        <p>To update a specific user's transaction, select their user transaction ID from the drop-down menu on the left and their desired percentage share.</p>
        <form id="update-user-transaction-form-ajax" class="data-form">
            <label for="input-userTransactionID">User Transaction ID: </label>
            <select name="input-userTransactionID" id="mySelectUserTransactionID" class="form-select">
                <option value="test">Select a User Transaction</option>
                {{#each data}}
                <option value="{{this.userTransactionID}}">{{this.userTransactionID}}</option>
                {{/each}}
            </select>
            <label for="input-percentageShare">Percentage Share: </label>
            <input type="text" name="input-percentageShare" id="input-percentageShare-update" placeholder="Enter the percentage share"  class="form-input">
            <input type="submit" value="Update" class="submit-button">
        </form>
        <script src="./js/update_user_transaction.js"></script>
    </section>
</div>