{{!-- Citation for the following file as well as all handlebars and JS files used in the Node JS guide
Date: 11/21/2024
Adapted from the guide code, plugged in project specifics and will eventually keep expanding to make it look better
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%200%20-%20Setting%20Up%20Node.js --}}

<div class="page-container">
    <h1 class="page-title">Users</h1>

    <section class="form-section">
        <h2 class="section-title">Users Table</h2>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <div class="table-wrapper">
            <table id="users-table" class="data-table">
                <thead>
                    <tr>
                        {{#each data.[0]}}
                        <th>{{@key}}</th>
                        {{/each}}
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td>{{this.userID}}</td>
                        <td>{{this.userName}}</td>
                        <td>{{this.monthlyBudget}}</td>
                        <td>
                            <button class="delete-button" onclick="deleteUser({{this.userID}})">Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <script src="./js/delete_user.js"></script>
    </section>

    <section class="form-section">
        <div class="form-wrapper">
            <h2 class="section-title">Add New User</h2>
            <form id="add-user-form-ajax" class="data-form">
                <label for="input-userName">Name: </label>
                <input type="text" name="input-userName" id="input-userName" class="form-input">
                
                <label for="input-monthlyBudget">Monthly Budget: </label>
                <input type="text" name="input-monthlyBudget" id="input-monthlyBudget" class="form-input">

                <input type="submit" class="submit-button">
            </form>
        </div>
    </section>

    <section class="form-section">
        <h2 class="section-title">Search For a User</h2>
        <form id="search-user-html" method="GET" action="/view_users" class="data-form">
            <label for="input-userName-html-search">Search by User Name: </label>
            <input type="text" name="userName" id="input-userName-html-search" class="form-input">
            
            <input type="submit" class="submit-button">
            <a href="/view_users" class="reset-link">
                <button type="button" class="reset-button">Reset</button>
            </a>
        </form>
    </section>

    <script src="./js/add_user.js"></script>

    <section class="form-section">
        <h2 class="section-title">Update a User's Budget</h2>
        <form id="update-user-form-ajax" class="data-form">
            <label for="mySelect">User Name: </label>
            <select name="input-userName" id="mySelect" class="form-select">
                <option value="test">Select a User</option>
                {{#each data}}
                <option value="{{this.userID}}">{{this.userName}}</option>
                {{/each}}
            </select>

            <label for="input-monthlyBudget-update">Monthly Budget: </label>
            <input type="text" name="input-monthlyBudget" id="input-monthlyBudget-update" placeholder="Enter a budget" class="form-input">

            <input type="submit" class="submit-button">
        </form>
    </section>

    <script src="./js/update_user.js"></script>
</div>
