{{!-- Citation for the following file as well as all handlebars and JS files used in the Node JS guide
Date: 11/21/2024
Adapted from the guide code, plugged in project specifics and will eventually keep expanding to make it look better
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%200%20-%20Setting%20Up%20Node.js --}}

<h1>Transactions Tracker</h1>

<h2>Transactions Table</h2>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table for displaying transactions --}}
<table id="transactions-table">

    {{!-- Header section --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- Loop through each transaction record and display its data --}}
        {{#each data}}
        <tr>
            <td>{{this.transactionID}}</td>
            <td>{{this.transactionDate}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.paymentMethod}}</td>
            <td>{{this.category}}</td>
            <td><button onclick="deleteTransaction({{this.transactionID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_transaction.js"></script>

{{!-- Form to add a new transaction --}}
<h2>Add New Transaction</h2>
<p>To add a new transaction, please enter the details below and click 'Submit'!</p>
<form id="add-transaction-form-ajax">
    <label for="input-transactionDate">Transaction Date: </label>
    <input type="date" name="input-transactionDate" id="input-transactionDate">

    <label for="input-amount">Amount: </label>
    <input type="text" name="input-amount" id="input-amount">

    <label for="input-paymentMethod">Payment Method: </label>
    <input type="text" name="input-paymentMethod" id="input-paymentMethod">

    <label for="input-category">Category: </label>
    <input type="text" name="input-category" id="input-category">

    <input type="submit">
</form>

<h2>Search For a Transaction</h2>
<p>Search by transaction ID, date, or category using the field below.</p>
<form id="search-transaction-html" method='GET' action='/transactions'>
    <label for="input-search">Search by ID, Date, or Category: </label>
    <input type="text" name="searchTerm" id="input-search">
    
    <input type="submit">
    <a href='/transactions'><button>Reset</button></a>
</form>

{{!-- Embed JavaScript for handling form submissions and AJAX requests --}}
<script src="./js/add_transaction.js"></script>

<h2>Update a Transaction</h2>
<p>To update a specific transaction, select it from the drop-down menu and modify its details.</p>
<form id="update-transaction-form-ajax">

    <label for="input-transactionID">Transaction ID: </label>
    <select name="input-transactionID" id="transactionSelect">
        <option value="test">Select a Transaction</option>
        {{#each data}}
        <option value="{{this.transactionID}}">{{this.transactionID}}</option>
        {{/each}}
    </select>

    <label for="input-transactionDate">New Transaction Date: </label>
    <input type="date" name="input-transactionDate" id="input-transactionDate-update">

    <label for="input-amount">New Amount: </label>
    <input type="text" name="input-amount" id="input-amount-update">

    <label for="input-paymentMethod">New Payment Method: </label>
    <input type="text" name="input-paymentMethod" id="input-paymentMethod-update">

    <label for="input-category">New Category: </label>
    <input type="text" name="input-category" id="input-category-update">

    <input type="submit">
</form>

<script src="./js/update_transaction.js"></script>
